<section>
    <ul> 
        <li>Comments: <%=@post.likes_counter %> </li>
        <li>Likes: <%=@post.comments_counter %> </li>
    <ul>

    <p> <%= @post.title %> <p>
    <p> <%= @post.text %> </p>
</section>